<nav>
  <div class='btn1 btn1-6 btn1-6d' ng-click="tripShow = !tripShow">Trips</div> 
  <span ng-show="tripDetailsShow" ng-class='{tripDetails: tripDetailsShow}'>Description: {{currentTrip.description}}</span>
  <span ng-show="messageShow" ng-class='{tripDetails: tripDetailsShow}'>message: {{message.success}}</span>
</nav>

<div class='row'>
  <div class='col-md-4'>
    <button class="tripbtn tripbtn-2 tripbtn-2d" ng-click="createTrip()">New Trip <i class="fa fa-plus"></i></button>


    <div ng-repeat="trip in trips">
       <button ng-class="{tripbtn2: currentTrip == trip}"class='tripbtn tripbtn1 tripbtn-1d' ng-click="tripClick(trip)"> {{trip.name}} <br>
        {{trip.destination}}</button>
    </div>
  </div>

  <div class='col-md-4' ng-show='newTrip' ng-include="templates[0].url">
  </div>

  <div class='col-md-4' ng-show="activitiesShow">
    <button class="tripbtn tripbtn-2 tripbtn-2d" ng-click="createActivity()">New Activity <i class="fa fa-plus"></i></button>
    <div ng-repeat="activity in activities">
      <button class='tripbtn tripbtn1 tripbtn-1d' ng-click="activityClick($index)"> {{activity.name}}</button>
    </div>
  </div>

  <div class='col-md-4' ng-show='newActivity' ng-include="templates[1].url">
  </div>

  <div class='col-md-4' ng-show="yelpShow">
    <div class='searchfield'>
      <form>
        <input type="text" placeholder="Search for places" ng-model="yelp.search"><button type="submit" class='btn btn-danger'  ng-click="yelpSearch()"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div ng-repeat="result in yelpResult" class='media yelpBox'>
      <div class='pull-left'>
        <img src={{result.thumbnail_photo}} class='media-object img-circle' />
      </div>
      <div class='media-body'>
        <h4>{{result.name}} ({{result.rating}})</h4>
        {{result.address}}<br>
        <i class="fa fa-plus-square btn btn-lg" ng-click="addToActivity(result, currentTrip)"></i>
        <a href="{{result.url}}" target="_blank"> more info </a>
      </div>

    </div>

  </div>



</div> <!--row close-->