<nav class='navigation-bar'>
      <span class="nav-logo">Locally</span>
      <span class="navigation-right"><button class="signoutbtn" ng-click="signOut()">Sign Out</button></span>
</nav>

<div class='row'>
  <div class='col-md-4' ng-include="templates[0].url" ng-show="showAllTrips">
  </div> <!-- templates 0-->

  <div class='col-md-4 formNew' ng-show='newTrip' ng-include="templates[1].url">

  </div> <!-- templates 1-->

  <div class='col-md-4' ng-show="activitiesShow" ng-include="templates[2].url">

  </div> <!-- templates 2-->

  <div class='col-md-4 formNew' ng-show='newActivityForm' ng-include="templates[3].url">
  
  </div> <!-- templates 3-->

 <div class='col-md-4' ng-show="yelpShow" ng-include="templates[4].url">
 </div><!-- yelpShow-->

</div> <!--row close-->