<div class="container">
  <div class='main-logo row'>
  <div class='col-md-4'></div>
    <div class='col-md-4'>
      <span class='logo'>Locally</span><br>
      version 2.0<br>
      Travel, Eat and Be a Local!<br>
      Powered by Yelp<br>
      <div class='aboutme'><a href="https://github.com/kevinrogerteng/locally-v2" target="_blank"><i class="fa fa-github fa-2x"></i></a></div>
      <div class='aboutme'><a href="http://kevinrogerteng.github.io/" target="_blank"><i class="fa fa-smile-o fa-2x"></i></a></div>
    <div ng-hide='signShow' class="sign-in">
      <a ng-click="signShow = !signShow">Sign In / Sign Up</a>
    </div>
    </div>
    <div class='col-md-4'></div>
  </div>

  <div class='usersign row' ng-show="signShow">
  <div class='col-md-3'></div>
  <tabset class='col-md-6'> 
      <tab heading='Sign In'>
          <form ng-submit="attemptLogin()">
            <div class="form-group userForm" >
              <label>Email address (kevin@gmail.com)</label>
              <input type="email" class="form-control" placeholder="Enter email" ng-model="credentials.email">
              <label>Password (123456)</label>
              <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password">
            </div>
            <button type="submit" class="btn">Submit</button>
            <button type="submit" class="btn" ng-click="closeSign()">Cancel</button>
          </form>
      </tab>

      <tab heading='Sign Up'>
            <form role="form" ng-submit="createUser()">
              <div class="form-group userForm">
              Coming Soon!
                <!-- <label>Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" ng-model="newCredentials.email">
                <label>Screen Name</label>
                <input type="text" class="form-control" ng-model="newCredentials.screenName" placeholder="Screen Name (Optional)">
                <label>Hometown</label>
                <input type="text" class="form-control" ng-model="newCredentials.hometown" placeholder="Hometown (Optional)">
              </div>

              <div class="form-group userForm">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="newCredentials.password" placeholder="Password">
                <label>Password Confirmation</label>
                <input type="password" class="form-control" ng-model="newCredentials.passwordConfirmation" placeholder="Confirm Password"> -->
              </div>

             <!--  <button type="submit" class="btn">Submit</button>
              <button type="submit" class="btn btn-cancel" ng-click="closeSign()">Cancel</button> -->
            </form>
      </tab> 
  </tabset> 
  <div class='col-md-3'></div>
  </div>
</div>