.main-logo {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.usersign {
  border-radius: 5px;
  padding: 10px;
}

body {
  background-image: url(food.png)
}

.logo {
  font-size: 4em;
}